.star,
h1,
p,
.rating-buttons{
    margin-bottom: 1.5rem;
}
main{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.card-component{
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    padding: 2rem;
    font-size: 15px;

    width: 32rem;
    max-height: 60%;
    max-width: 32rem;

}
.card-component .star{
    background-color: var(--dark-grey);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}
.card-component .star img{
    text-align: center;
    margin: 0.9rem;
    width: 1.2rem;
}
.card-component .rating-buttons{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.rating-buttons input[type="radio"]{
    display: none;
}
.rating-buttons label{
    background-color: var(--dark-grey);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    color: var(--light-grey);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.rating-buttons label:hover{
    background-color: var(--orange);
    color: var(--dark-blue);
}
.rating-buttons input[type="radio"]:checked + label{
    background-color: white;
    color: var(--dark-blue);
}
.card-component #submit{
    background-color: var(--orange);
    border-radius: 20px;
    height: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
}
.card-component #submit:hover{
    background-color: white;
}

h1{
    color: white;
}

p{
    color: var(--light-grey);
}